/* body of web page */
body{
    margin: 0;
}
/* .............................................................................................................
                                           Header are styled here.
............................................................................................................. */
header{
    background-color: #2D25A0;
}
.navigate-bar{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.bar-menu{
    padding-right: 210px;
}
.bar-menu a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    padding: 0px 10px 0px 10px;
}
.header{
    display: flex;
    justify-content: space-evenly;
    
    
}
.head-title .title{
    font-size: 64px;
    color: #ffffff;
    
}

.live-link a{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 20px 10px 20px ;
     
}
.live-link a .fa-arrow-right{
    
    padding-left: 10px  ;
}
.banner img{
    width: 560px;
    height: 430px;
    
}
/*................................................................................................................
                                         Style for main section.
................................................................................................................*/
main{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    width: 1050px;
    margin-top: 70px;
    margin-bottom: 165px;
     
}
.player-details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 5px 5px 30px gray;
    
}
.player img{
    width: 100%;
    height: 256px;
}
.player-info .player-name{
    font-size: 28px;
}
.player-info .about-player, .highlights-info{
    text-align: justify;
}
/* ...............................................................................................................
                                        Style for highlights Section
................................................................................................................*/
.highlights-container{
    width: 1050px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.highlights{
    padding:0px 40px 0px 0px;
    
}
.highlights-title{
    font-size: 48px;
    margin-top: 0px;
}
.highlights-info{
    padding-bottom: 20px;
}
.highlights-photo,.highlights-photo img{
    width:560px ;
    height:427px ;
    padding:0px px 0px 40px;
}
/* logo Style */
.logo img{
    width: 800px;
    width: 400px;
    
}
.logo{
    margin-top: 50px;
}
/* 
Social Icon Style
 */
 footer{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     
 }
 .fa-facebook,.fa-instagram,.fa-twitter,.fa-youtube{

     background-color:rgba(0, 0, 0, 0.150) ;
     color: #969BAB;
     padding: 5px;
     border-radius: 50%;
 }